.blog-parts{
    position: absolute;
    top: 10%;
    width: 100vw;

    h3{
        top: 13%; 
    }

    .last-img{
        margin-bottom: 10%;
    }

    .copyrights-end-m{
        height: 15vh;
        width: 100%;
        margin-bottom: 15%;
        text-align: center;
        padding-top: 10%;
        list-style-type: none; 
    }


    .container1{
        position: relative;
        text-align: center;
        color: $feature;
    
        img{
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 2%;
            background-color: black;
            width: 100%;
            z-index: -1;
            object-fit: cover;
            height: 50vw;
        }
        
        .centered {
            font-size: 1.5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'raleway', sans-serif;
            
            p{
                color: white;
                padding: 0.25em;
            }
    
            h6{
                // background-color: white;
                color: white;
                width: 50vw;
                padding: 0.15em;
                padding-bottom: 0.25em;
                border: 0.15em solid $feature;
            }
            
        }
    
    
        &:hover{
            img{
                opacity: 40%;
            }
    
            p{
                opacity: 100%;
                color: black;
            }
            h6{
                opacity: 100%;
                color: black;
                border: 0.15em solid black;
            }
        
        }
    }
}







// ---------------------------------

.blog-page{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;

    img{
        width: 100%;
    }

    .title{
        margin: 5%;

        p{
            text-decoration: underline;
            font-size: 5vw;
        }
    }

    h4{
        font-size: 10vw;
    }

    p{
        margin-bottom: 5%;
        font-size: 4vw;
    }  
}