




.contact-parts{
    position: absolute;
    top: 10%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    label{
        p{
            // display: none;
            padding: 4% 0 0;
        }
    }

    .copyr{
        width: 100%;
    }
    



    .contactme{
        text-align: center;
    }

    .message-forms{
        
        
        
        .forms{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        ::placeholder{
            color: $feature;
        }
        
       
        
        
        input[type=text], select, textarea{
            width: 78vw;
            margin-top: 1%;
            border: none;
            padding: 2%;
            height: 2.5em;
            font-family: 'raleway', sans-serif;
            font-size: 1em;
            
            background-color: #ffd9f9;
            resize: none;

        }
        textarea{
            height: 10em;
        }


        input[type=submit]{
            background-color: black;
            width: 78vw;
            height: 4vh;
            margin-top: 2%;
            font-family: 'raleway', sans-serif;
            font-size: 1em;
            color: white;
            box-shadow: 0.3em 0.3em 0 0 $feature;
            border: none;
            

        }
    }

    .details{
       
        width: 100%;
        height: 35vh;
        margin-top: 2%;
        padding: 9% 0% 0 11%;

        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
            color: white;
            font-family: 'raleway', sans-serif;
            font-size: 1em;
           
        }

        .message{
            font-size: 1.5em
        }

        .c-details{
            background-color: black;
            padding: 6%;
            margin-top: 5%;
            width: 78vw;
            line-height: 1.5;
            box-shadow: 0.3em 0.3em 0 0 $feature;
            
        }
    
    }





}





