@import url(//db.onlinewebfonts.com/c/2c6559d94a7fa38ce73eaa827ca22ce2?family=Lust+Script+Display);
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa:wght@300;400;500;600;700&family=Didact+Gothic&family=Dosis:wght@200;300;400;500;600;700;800&family=Maven+Pro:wght@400;500&family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300;400;500;515;600;700&family=Raleway:wght@100;200;300;400;500&family=Teko:wght@300;400;500&display=swap');

$feature:#ff61ba;



h1{
    font-family: lust-script-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    &:hover{
        color: $feature;
    }
}

h3{
    padding: 7% 0 7% 0;
    font-size: 2em;
    color: black;
    text-align: center;
    &:hover{
        color: $feature;
    }
}




h3, h4, p{
    width: 100%;
    
    font-family: 'raleway', sans-serif;

}

h4{
    font-size: 1.75em;
}

.home-content{
    
    h4{
        font-weight: 400;
    }
    .web{
        margin: 0;
        padding: 0;
        
        
        
        
        
    }
}

.copyr{
    p{
        font-size: 1.25em;
        padding: 0 5% 20%;
    }
}



p{
    padding: 1% 9%;
    font-size: 1.2em;
    line-height: 1.35em;

}



