




footer{
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;



    &:hover{

        .copyright-d{
            display: inline-block;
        }
    }

    

    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        // position: absolute;
        bottom: 0%;
        width: 100%;
        
        li{
            list-style-type: none; 
            padding: 0.07em 0.2em;
            bottom: 0;

            a:-webkit-any-link{
                font-size: 0.75em;
                color: black;
                &:hover{color:$feature}
            }
            
        } 
    
    
    }


    
    
    
    .copyrights{
        // display: none;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;


        



        

    }

    

    




}

.footer-icons{
    font-size: 11vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    


    li{

        &:hover{

            color: $feature;
        }

    }




    p{

        padding: 0;
    }


    


    .copyright-d{
        padding: 0;
        display: none;
        position: absolute;
        left: 6%;
    }

    .copy-c{
        display: none;

        
        font-size: 2.5vw;
        position: absolute;
        bottom: 2%;
        left: 3%;

        



    }




}






