

.mobile-container{
    height: 20%;
    position: fixed;
    top: 0;
    z-index: 99;
    font-family: 'raleway', sans-serif;
}






.navbar{

    .logo-wrap{
        background: rgba(255, 255, 255, 0.80);
        height: 10%;
    }
    
    
    border: none;
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 99;
    background: rgba(255, 255, 255, 0.00);
    height: 100%;
    
    
    .desktop-logo{
        display: none;
    }
    

    #myLinks{
        display: none;
        z-index: 100;
        height: 10%;

        a{
            &:hover{
                color: $feature;
            }
        }
    }
    
    
    .nav-links, .logo{
        text-decoration: none;
        // color: black;
        color: black;
    }

    .m-no-hover{
        display: none;
    }
    .m-hover{
        img{
            width: 75%;
            // height: 10%;
            position: absolute;
            top: 2.5%;
            left: 5%;
            display: inline-block;


        }
    }


    .main-nav{
        list-style-type: none;
        display: none;
        position: absolute;
        top: 10%;
        width: 100%;


        height: 100%;

        li{
            padding: 2%;
            width: 100%;
            text-align: center;
            &:hover{a{color:black;}}
            background: rgba(255, 255, 255, 0.8);
        }
        

    }
    .nav-links{
        margin: 10% auto;
        text-align: center;
        align-items: center;
        top: 20%;
        height: 100%;
        width: 100%;
    }


    .hamburger-icon{
        position: absolute; 
        right: 0;
        top: 0;
        padding: 6vw;
        font-size: 6vw;
        color: black;
        &:hover{
            color: $feature;
        }
        
    }



}



.active {
    display: block;
}

