@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .mainnav li{font-size: 9vw;}

    // fonts




    // index




    // about





    // skills




    // projects



    // blog











    // wireframes
    .gallery{

        .mobile-images, .tablet-images, .desktop-images{


            p{
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }










    h3{
        font-size: 3.75em;
    }



    .copyr{

        font-size: 3em;
        p{
            padding-bottom: 15%;
            font-size: 2em;


        }
        
    }

    // about me ------------------------------------------

    #profile{

        .pfp{

            margin: 0 6% 0;
        
            width: 40vw;

        }


        .column-1{
            display: flex;
            flex-direction: column;
            width: 50vw;
            justify-content: center;
        }


        .column-2{
            flex-direction: column;
          


            .list-bg{
                background-color: #F2F2F2;
                padding: 1%
            }
        }

        .tab-columns{

            display: flex;
            flex-direction: row;
            align-items: center;
        }


        .resume-link{
            font-size: 4vw;
            padding: 2.5% 10% 3.5%;
            
            border: 3px solid $feature;

            
        }


        .resume{

            margin: 17% 0 5% 0;
             
        }
    }

    
    // index styling -----------------------------------------
    
    #page-wrapper-i{


        .home-content{


            .landing{
                .landing-contents{
                    padding-top: 40%;
                }
            }


            .welcome{

                padding: 2em 5em;
                margin-bottom: 5%;
                h4{
                    font-size: 2.9em;
                }
                

            }

        }

        .menu-options{
            font-size: 1.5em;
            ul{
                margin-bottom: 5%;


                li{
                    box-shadow: 0.35em 0.35em 0 0 $feature;
                &:hover{
                    box-shadow: 0.35em 0.35em 0 0 black;
                }

                }
            }
        }

        


    }
    
    
    
    
    
    .mainnav li{font-size: 5vw;}
    
    // h3{
    //     font-size: 4em;
    //     padding: 12% 0 7% 0;
    // }
    h4{
        font-size: 2.5em;
    }

    .mobile-container{
        #myLinks {


            top: 12%;


            a{
                font-size: 4vw;
            }
        }

        .navbar{


            .logo-wrap{

                height: 12%;
                top: 13%;
            }
            .hamburger-icon{
                padding: 5vw;
            }
        }
        
        
        // .centered{
        //     font-size: 4em;
        //     .navbar {


        //         .main-nav{
        //             top: 12%;
                    
        //         }
        //         .logo-wrap{
        //             height: 12%;

        //         }

        //         .icon{
        //         padding: 5vw;     
        //         }

                
        //     }

        // }   
    }



    // projects ------------------------------------------------

    .container1{
        .centered{
            font-size: 1em;
        }


    }


    // blog -------------------------------------------------
    .blog-parts{

        h3{
            top: 15%;


        }
    }

    .centered {
        p{
            font-size: 3em;
        }

        h6{
            font-size: 2em;
        }
    }
    .copyrights-end-m .copyright-f{
        #copy-id{
            font-size: 2em;
        }
    }


    // footer ------------------------------------------
    footer {

        li{

            line-height: 0.9;
            
        }

        ul li{
            padding: 0;
        }

        ul li a:-webkit-any-link{
            font-size: 0.75em;
            padding: 0 0.25em;
           
           

            
        
        }
        .copyright-f{
            font-size: 2em;
            display: flex;
            width: 100%;
            
            
        

        }

        .copyrights{

            .copy-copyright{
                p{
                    line-height: 3;
                    padding-left: 0;


                }
            }
        }

        

    }  
    
    






    // --------------------------

    // contact page

    .contact-parts{

        #contact-links{
 
            
            a{
                padding-right: 10%;
                
                font-size: 4rem;
            }
    
            
        }
        .message-forms{




            input[type=text], select, textarea{
                font-size: 2em;
                padding: 2.5%;
                
            }

            input[type=submit]{
                font-size: 1.75em;
                height: 5.5vh;
                box-shadow: 0.3em 0.35em 0 0 $feature;
                
            }
        }


        .details{
            height: 40vh;

            a{
                font-size: 2em;
            }

            .message{
                font-size: 2.5em;
            }


            .c-details{

                box-shadow: 0.5em 0.55em 0 0 $feature;

            }
        }
    }


    // skills ------------------------
    .skills{


        h4{
            color: $feature;
        }
        



        .skills-row{


            .skill-item{

                img{
                    height: 10.5em;
                    width: auto;
                    margin: 0;
                }

                .img-f{

                    height: 10em;
                    margin: 0;
                    

                }

                p{
                    font-size: 4vw;
                }

                .rating{

                    font-size: 5vw;
                }



            }
        }


        
    }



    .blog-page{

        top: 13%;
    }

    
    
}
