

[class*="col-"] {
    width: 100%;
}

@media all and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}



    // wireframes
    .gallery{
        .mobile-images{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p{
                font-size: 1rem;
            }
            img{
                width: 10vw;
            }
        }
    }



    .copyr{
        display: inline-block;
    }



    
    
    // ---------------------------------------

    // about me ----------------------------

    #profile{
        top: 15%;



        .skill-heading{
            margin-left: 10%;
        }

        h4{
            margin-bottom: 5%;
        }

        .pfp{
            width: 20vw;
        }
        .tab-columns{
            width: 60vw;
            justify-content: space-between;
            margin-bottom: 5%;
        }

        .resume{
            padding: 10% 0 0 10%;
        }

        .resume-link{
            font-size: 2vw;
            padding: 5% 20%;
        }

        .column-1{
            width: 20vw;

            
        }

        .column-2{

            width: 28vw;

            
        }

        ol li{
            font-size: 1.25vw;
            line-height: 1.25;

        }

        .container-a{

            .timeline{
                display: none;
            }
            .timeline-d{
                display: block;
                width: 100%;
                padding: 5%;
            }
        }

        



    }

    .projects-a{
        padding-top: 4%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 8%;

        .projects-imgs{
            
            


            .projects-rows{
                width: 80vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                .centered{
                    background-color: white;
                    border: 5px solid $feature;
                    padding: 1%;

                    p{
                        font-size: 1.35rem;
                        color: $feature;
                    }
                }

                img{
                    width: 20vw;
                    height: 30vh;
                    padding: 2.5%;
                    margin: 3% 0;
                    background-color: $feature;
                }

                .container1{
                    width: 30vw;
                    flex-basis: 33.333333%

                }
            }
        }
    }


    .skills{

        


        .skills-row{

            justify-content: space-around;
            margin: 4% auto;
            


            width: 80%;
            height: 42vh;
            padding-top: 3%;


            .skill-item{


                width: 30%;
                height: 30%;

                margin: 0;


                p{

                    font-size: 2em;
                    padding: 2%;
                }



                .rating{

                    font-size: 2em;
                    
                }

                #mongo{ //mongo img
                    margin-right: 0;
                    height: 5rem;
                    
                }
                .mongo{ //mongo txt
                    padding-top: 5%;
                }
                

                .skill-img{
                    height: 6rem;
                }

            }
        }

    }



    // menu 

    .navbar {
        position: absolute;
        background-color: white;
        height: 6vh;


        .logo-wrap{
            display: none;
        }

        #myLinks{
            display: flex !important;
            flex-direction: row;
            font-size: 1vw;
            font-family: raleway;

            #desktop-logo{
                display: block;
            }
            

            a{
                
                font-size: 1.25em;

               
            }
            li{
                padding-top: 0.5%;


                

            }

            .logo-txt{
                font-family: lust-script-display, sans-serif;
                font-size: 1.65em;
                padding-left: 5%;
                
                margin: 0;
            }

            .logo-li{
                padding-top: 0.3%;

            }

            
        }
        .hamburger-icon{
            display: none;
        }
                
    
        

        .main-nav{
            li{
                background-color: rgba(255, 255, 255, 0.0);
                padding: 0;
                margin: 0;
                
                img{
                    width: 60%;
                    padding: 0;
                }

                // height: 20%;
                
            }
        }

    }


    // index page ----------------------------------------

    #page-wrapper-i {
        
        margin: 0 auto;


        .home-content{

            h4{
                font-size: 3vw;
            }

            .landing{
                display: flex;
                justify-content: center;
                align-items: center;

                .landing-contents{
                    padding-top: 0%;
                    
                    h4{
                        color: black;
                        font-size: 1em;
                    }

                }
            }
            .welcome{
                h4{
                    font-size: 3em;
                }
                
            }

            .desktop-logos{
                #PinkLogo{
                    width: 30vw !important;
                }
                #BlackLogo{
                    width: 30vw !important;
                }
            }
        }

        .menu-options{

            
        
            
            ul{
                width: 80vw;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-bottom: 20%;
                li{
                    width: 48%;
                }

                
                .odd-item-d{
                    display: block;
                    width:100%;
                    li{
                        margin: 3% 0;
                    }
                }

            }

            
        }




    }
    .copyr{
        display: none;
    }


    // about page ----------------------------------------------
    h3{
        padding: 2% 0 2% 0;
        font-size: 3.5em;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .container{margin: 0 5em}

    .skills #design{
        padding-left: 18vw;
        
    }

    

    #profile h4{
        font-size: 2.5vw;
        
    }
    


    // projects ----------------------------------------

    .projects{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        h3{
            margin-bottom: 5%;
            font-size: 5vh;
        }

        .centered{
            font-size: 1.5em;
            color: white;
            p{
               font-size: 2vw; 
            }
        }
        img{
            width: 70vw;
            height: 40vh;
        }
    }
    
    
    .copyrights-end-m{
        display: none;
    }


    // footer ----------------------------------------

    
    .footer-icons{
        font-size: 2vw;
        line-height: 0;
        bottom: 0;
        color: black;
        

        
    }
    footer{
        height: 7%;
        background-color: rgba(255, 255, 255, 0.50);
        bottom: 0;


        
        .copy-copyright{
            display: none;
        }

        .copyrights{



            &:first-child{
                display: inline-block;
            }
            &:nth-of-type(2){
                display: none;
            }
            .mobile-copy{
                display: none;
            }


            .copy-c{
                font-size: 2vw;
            }

            
            &:hover{
                .copy-copyright{
                    display: inline-block;
                    left: 3%;

                }
            
            }
        }
        
        .copyright-f{
            font-size: 1.1vw;
            padding: 0;
            margin: 0;
            position: fixed;
            bottom: 4vh;
            left: 1.25%;
    


        }

        
        

       

        ul li {
            padding: 0.35em;
            

            a:-webkit-any-link{
                color: black;
                font-size: 5vh;
        

                
                
                
                &:hover{
                    
                    color: $feature;
                }
            }
        }
    } 




    // contact page


    .contact-parts{
        top: 20%;


        .contactme{
            margin-bottom: 5%;
        }


        .message-forms{

            

            input[type=text], select, textarea{
                width: 50vw;
                height: 1.75em;
                padding: 2%;




            }
            textarea{
                height: 8em;
                padding-top: 1.2%;
            }

            input[type=submit]{
                width: 50vw;
                height: 8vh;
            }
        }


        .details{
            margin-bottom: 15%;
            width: 100%;
            padding: 0;
            align-items: center;

            a{
                font-size: 2.5vw;
            }
          
            .c-details{
                width: 40vw;
                margin-top: 2%;
                padding: 2%;
                a{
                    font-size: 2rem;
                }
                #contact-links{

                    i{
                        font-size: 4rem;

                    }
                    .first-link{
                        padding-left: 7%;
                    }
                }
                
            }

            .message{
                padding-left: 25%;
                margin-top: 5vh;

            }
        }
    }

    
    
}


