

[class*="col-"] {
    width: 100%;
}

@media all and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}



    // wireframes
    .gallery{
        .mobile-images{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p{
                font-size: 1rem;
            }
            img{
                width: 10vw;
            }
        }
    }



    .copyr{
        display: inline-block;
    }




    .blog-page{
        

        top: 20%;
        img{
            object-fit: cover;
            height: 50vh
        }

        .title{

            p{

                font-size: 2vw;
            }


        }

        h4{
            font-size: 5vw;
        }

        p{
            font-size: 2vw;
        }




    }
    
    // ---------------------------------------

    // about me ----------------------------

    #profile{
        top: 15%;

        h4{
            margin-bottom: 5%;
        }

        .pfp{
            width: 20vw;
        }
        .tab-columns{
            width: 60vw;
            justify-content: space-between;
            margin-bottom: 5%;
        }

        .resume{
            padding: 10% 0 0 10%;
        }

        .resume-link{
            font-size: 2vw;
            padding: 5% 20%;
        }

        .column-1{
            width: 20vw;

            
        }

        .column-2{

            width: 28vw;

            
        }

        ol li{
            font-size: 1.25vw;
            line-height: 1.25;

        }

        .container-a{

            .timeline{
                display: none;
            }
            .timeline-d{
                display: block;
                width: 100%;
                padding: 5%;
            }
        }

        



    }

    .projects-a{
        padding-top: 4%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .projects-imgs{
            
            


            .projects-rows{
                width: 80vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                .centered{
                    background-color: white;
                    border: 5px solid $feature;
                    padding: 1%;

                    p{
                        font-size: 1.35rem;
                        color: $feature;
                    }
                }

                img{
                    width: 20vw;
                    height: 30vh;
                    padding: 3%;
                    margin: 3% 0;
                    background-color: $feature;
                }

                .container1{
                    width: 30vw;
                    flex-basis: 33.333333%

                }
            }
        }
    }


    .skills{


        .skills-row{

            justify-content: space-around;
            margin: 4% auto;
            


            width: 80%;
            height: 40vh;
            padding-top: 3%;


            .skill-item{


                width: 30%;
                height: 30%;

                margin: 0;


                p{

                    font-size: 2em;
                    padding: 2%;
                }



                .rating{

                    font-size: 2em;
                }

                #mongo{ //mongo img
                    margin-right: 0;
                    height: 5rem;
                    
                }
                .mongo{ //mongo txt
                    padding-top: 5%;
                }
                

                .skill-img{
                    height: 6rem;
                }

            }
        }

    }



    // menu 

    .navbar {
        // background-color: rgba(255, 255, 255, 0.50);
        
        // height: 8%;
        // padding: 3%;
        .icon{display:none;}
        position: absolute;

        #myLinks{
            display: flex !important;
            flex-direction: row;
            font-size: 1vw;
            // line-height: 3;
            font-family: raleway;
            

            a{
                font-size: 1em;
               
            }
        }
        .hamburger-icon{
            display: none;
        }

        .logo-wrap{
            background: none;
            display: none;
        }
                
        .logo h1{
            font-size: 2vw;
        }
        .desktop-logo{
            display:block;
            
            .no-hover{
                display: none;
            }
            &:hover{
                .no-hover{
                    display: block;
                }
                .hover{
                    display: none;
                }
                
            }
        }
        .mobile-logo{
            display: none;
        }
        .main-nav{
            li{
                background-color: rgba(255, 255, 255, 0.0);
                padding: 0;
                margin: 0;
                
                img{
                    width: 60%;
                    padding: 0;
                }

                // height: 20%;
                
            }
        }

    }


    // index page ----------------------------------------

    #page-wrapper-i {
        
        margin: 0 auto;


        .home-content{

            h4{
                font-size: 3vw;
            }

            .landing{
                display: flex;
                justify-content: center;
                align-items: center;

                .landing-contents{
                    padding-top: 0%;
                    
                    h4{
                        color: black;
                        font-size: 2em;
                    }

                }
            }

            .desktop-logos{
                #PinkLogo{
                    width: 30vw !important;
                }
                #BlackLogo{
                    width: 30vw !important;
                }
            }
        }

        .menu-options{
            
        
            
            ul{
                width: 60vw;
                flex-direction: row;
                flex-wrap: wrap;
                padding-bottom: 20%;

                li{
                    width: 32%;

                   
                }


                .odd-item{
                    display: inline-block;
                    a{
                        font-size: 0.75em;
                        line-height: 1.75;
                    }
                    
                }
            }

            
        }




    }
    .copyr{
        display: none;
    }


    // about page ----------------------------------------------
    h3{
        padding: 2% 0 2% 0;
        font-size: 3.5em;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .container{margin: 0 5em}

    .skills #design{
        padding-left: 18vw;
        
    }

    

    #profile h4{
        font-size: 2.5vw;
        
    }
    


    // projects ----------------------------------------

    .projects{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        h3{
            margin-bottom: 5%;
            font-size: 5vh;
        }

        .centered{
            font-size: 1.5em;
            color: white;
            p{
               font-size: 2vw; 
            }
        }
        img{
            width: 70vw;
            height: 40vh;
        }
    }


    // blog ----------------------------------------


    .blog-parts{
        max-width: 100%;
        margin: 0 auto;
        top: 20%;
        
        // padding-bottom: 5%;

        h3{
            top: 25%;
            padding: 0;
            &:hover{
                color: $feature;
            }
        }

        .img-first{
            margin-top: 10%;
        }

        .centered{

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            color: white;
            p{
                font-size: 2vw;
                
            }

            h6{

                border: none;
                margin: 0;
                text-align: center;
                color: white;
            }
        }

   

        .container{ 
            top: 20%;

            .container1{
                padding: 1%;

                img{
                    object-fit: cover;
                    width: 60vw;
                    height: 20vw;
                    box-shadow:6px 7px 0px 0px $feature;

                    

                }


                .centered{

                    h6{

                        width: 100%;
                        color: white;
                        text-decoration: underline;

                    }
                }
                

            }

            
        }
    }
    
    
    .copyrights-end-m{
        display: none;
    }


    // footer ----------------------------------------

    
    .footer-icons{
        font-size: 2vw;
        line-height: 0;
        bottom: 0;
        color: black;
        

        
    }
    footer{
        height: 7%;
        background-color: rgba(255, 255, 255, 0.50);
        bottom: 0;


        
        .copy-copyright{
            display: none;
        }

        .copyrights{



            &:first-child{
                display: inline-block;
            }
            &:nth-of-type(2){
                display: none;
            }
            .mobile-copy{
                display: none;
            }


            .copy-c{
                font-size: 2vw;
            }

            
            &:hover{
                .copy-copyright{
                    display: inline-block;
                    left: 3%;

                }
            
            }
        }
        
        .copyright-f{
            font-size: 1.1vw;
            padding: 0;
            margin: 0;
            position: fixed;
            bottom: 4vh;
            left: 1.25%;
    


        }

        
        

       

        ul li {
            padding: 0.35em;
            

            a:-webkit-any-link{
                color: black;
                font-size: 5vh;
        

                
                
                
                &:hover{
                    
                    color: $feature;
                }
            }
        }
    } 




    // contact page


    .contact-parts{
        top: 20%;


        .contactme{
            margin-bottom: 5%;
        }


        .message-forms{

            

            input[type=text], select, textarea{
                width: 50vw;
                height: 1.75em;
                padding: 2%;




            }
            textarea{
                height: 8em;
                padding-top: 1.2%;
            }

            input[type=submit]{
                width: 50vw;
                height: 8vh;
            }
        }


        .details{
            margin-bottom: 15%;
            width: 100%;
            padding: 0;
            align-items: center;

            a{
                font-size: 2.5vw;
            }
          
            .c-details{
                width: 50vw;
                margin-top: 2%;
                padding: 2%;
                
            }

            .message{
                padding-left: 25%;
                margin-top: 5vh;

            }
        }
    }

    
    
}


