.skills{


    

    #design{
        margin: 5%;
    }


    .skills-margin-b{
        margin-bottom: 10%;
    }

    
    
    
    .skills-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #F2F2F2;
        
        
        
        

        
        
        

        .skill-item{
            margin: 12% 3% 0 4%;
            text-align: center;
           
            

    
            .rating{
                color: black;
                font-size: 1em;
                
            }

            #express{
                width: 20vw;
                // height: 34%;
            }

            #node{
                width: 23vw;
            }

            #mongo{
                width: 25vw;
            }

            
            
            
            

            img{

                width: 25vw;
                height: 38%;
                width: auto;


                
            }

            // .img-f{
            //     height: 40%;
                
            // }

            // #express-p{
            //     margin: 6%
            // }
            

            p{
                margin: 1em 0;
                padding: 0;
                font-size: 1em;
                text-align: center;
                color: $feature;

                
            }
        }
    }
}