.skills{


    

    #design{
        margin: 5%;
    }

    
    
    
    .skills-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #F2F2F2;
        
        
        
        

        
        
        

        .skill-item{
            margin: 7% 3% 5% 4%;
            text-align: center;
           
            

    
            .rating{
                color: black;
                font-size: 1em;
                
            }
            
            
            

            img{

                // width: 25vw;
                height: 50%;

                
            }

            .img-f{
                height: 60%;
                
            }
            

            p{
                margin: 0;
                padding: 0;
                font-size: 1.2em;
                font-weight: heavy;
                text-align: center;
                color: $feature;

                
            }
        }
    }
}