.heading{
    margin: 10vh 0;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;

    .mobile-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;

        img{
            max-width: 40vw;
            
        }
        p{
            font-weight: 500;
        }
            
            .desc{
                margin-bottom: 10vh;
            }


    }

    .tablet-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;

        img{
            max-width: 40vw;
            
        }
        p{
            font-weight: 500;
        }
            
            .desc{
                margin-bottom: 10vh;
            }
    }
    .desktop-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;

        img{
            max-width: 80vw;
            
        }
        p{
            font-weight: 500;
        }
            
            .desc{
                margin-bottom: 10vh;
            }
    }




}